
#aceEditorDiv {
	/*background-color: #F3F3F3;*/
	clear: both;
}

#aceEditorDiv pre {
	white-space: pre-line;
	border: 0 none;
}

#aceEditorDiv hr {
	clear: both;
	margin: 2px 0;
}

.ace_editor {
	border: 1px solid lightgray;
	margin: auto;
	height: 475px;
}

#aceEditorMainWindow {
	font-size: 15px;
	margin: 0;
}

.ace_editor_full_window .ace_editor_background {
	background-color: rgba(35,35,35,0.5);
	overflow: hidden;
	/*overflow-y: scroll;*/
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
}

.ace_editor_background:hover {
	background-color: #5F3D18;
}

.ace_editor_full_window  .ace_editor {
	height: auto;
	position: fixed;
	z-index: 1000;
	top: 1em;
	left: 1em;
	bottom: 1em;
	right: 1em;
}

.ace_editor_full_window .ace-resize-button {
	display: none;
}

#aceEditorHelpButtons {
	z-index: 5;
}

#aceEditorHelpButtons.fixed {
	background-color: rgba(123, 121, 118, 0.75);
	position: fixed;
	top: 0;
}

#aceMacrosRec {
	background-color: #950000;
	border-radius: 5px;
	display: inline-block;
	font-size: 0.7em;
	height: 1em;
	width: 1em;
}

span.ace-button {
	padding: 0 0.3em;
	background-color: #B5B5B5;
	border-radius: 2px;
	cursor: pointer;
	white-space: nowrap;
}

span.ace-button:hover {
	background-color: #4455FF;
	color: #E8E8E8;
}

span.ace-button:active {
	background-color: #FF5342;
	color: #73E85F;
}

span.ace-button.green {
	background-color: #8BFF80;
}

span.ace-button.yellow {
	background-color: #FFD63F;
}

span.ace-button.red {
	background-color: #FF5244;
}


span.ace-session {
	border: 1px solid transparent;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom: 0 none;
	margin-right: 0.5em;
}
.ace-session.ace-selected {
	box-shadow: 0 0 3px #E55320;
	border-color: #E55320;
}

pre#aceEditorMainWindow.ace_editor div.ace_search.right {
	position: fixed;
	top: 100%;
	bottom: 0;
	right: 0;
	margin: 0;
	height: 5.5em;
	margin-top: -5.5em;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 0;
}

pre.ace_editor div.ace_search.right {
	margin: 0;
}

div.ace_search.right {
	margin: 0;
}

#aceStatusBar.fixed {
	bottom: 0;
	position: fixed;
	background-color: rgba(123, 121, 118, 0.75);
	border-top-right-radius: 3px;
	padding: 0.1em 0;
	z-index: 5;
}

#AceEditorICON {
	height: 0.9em;
}

/*#readOnlyIMG,*/
/*#readOnlyIMG2,*/
/*#readOnlyIMG3*/
.ace-readOnly img {
	cursor: pointer;
	vertical-align: text-bottom;
}

#aceEditorDiv.ace_read_only .ace_writers,
/*#aceEditorMacrosButtons.false,*/
/*#aceEditorHelpButtons.false,*/
/*#readOnlyIMG.false,*/
/*#readOnlyIMG2.false,*/
/*#readOnlyIMG3.false */
#aceEditorDiv .ace-readOnly {
	opacity: 0.35;
}

#aceEditorDiv.ace_read_only .ace_writers,
#aceEditorDiv.ace_read_only .ace_writers span.ace-button {
	cursor: help;
}

#aceEditorDiv.ace_read_only .ace-readOnly {
	opacity: 1;
}

/*#readOnlyIMG + span,*/
/*#readOnlyIMG2 + span,*/
/*#readOnlyIMG3 + span*/
.ace-readOnly span {
	display: none;
}

/*#readOnlyIMG.true + span,*/
/*#readOnlyIMG2.true + span,*/
/*#readOnlyIMG3.true + span */
#aceEditorDiv.ace_read_only .ace-readOnly span {
	display: inline;
	cursor: pointer;
}

/*#readOnlyIMG.true,*/
/*#readOnlyIMG2.true,*/
/*#readOnlyIMG3.true*/
#aceEditorDiv.ace_read_only .ace-readOnly img {
	-webkit-animation: shadowFlashing 5s;
	-moz-animation: shadowFlashing 5s;
	animation: shadowFlashing 5s;

	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-direction: alternate-reverse;
	-moz-animation-direction: alternate-reverse;
	animation-direction: alternate-reverse;

	-webkit-transition: box-shadow 0.3s, background-color 0.3s;
	-moz-transition: box-shadow 0.3s, background-color 0.3s;
	-ms-transition: box-shadow 0.3s, background-color 0.3s;
	-o-transition: box-shadow 0.3s, background-color 0.3s;
	transition: box-shadow 0.3s, background-color 0.3s;
}

@-webkit-keyframes shadowFlashing {
	25% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	50% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
	75% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	100% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
}

@-moz-keyframes shadowFlashing {
	25% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	50% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
	75% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	100% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
}

@keyframes shadowFlashing {
	25% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	50% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
	75% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.80);
		background-color: rgba(221, 120, 43, 0.80);
	}
	100% {
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.40);
		background-color: rgba(221, 120, 43, 0.40);
	}
}

.ace_status-indicator {
}

#ajax-status {
	display: inline-block;
}

.marked {
	background-color: #2557B4;
}

#helpInfo OL,
#helpInfo UL {
	display: none;
}

#helpInfo .show + OL,
#helpInfo .show + UL {
	display: block;
}


.ace_marker-layer .yandex_misspelled,
.ace_marker-layer .yandex_misspelled_double,
.ace_marker-layer .yandex_misspelled_cap,
.ace_marker-layer .yandex_misspelled_many
{
	position: absolute;
	z-index: 2;
	border-width: 1px;
	border-bottom-style: solid;
}

.ace_gutter-cell.yandex_misspelled,
.ace_gutter-cell.yandex_misspelled_double,
.ace_gutter-cell.yandex_misspelled_cap,
.ace_gutter-cell.yandex_misspelled_many
{
	border-width: 1px;
	border-style: solid;
	margin: -1px 0;
}

.yandex_misspelled {
	border-color: red;
	background-color: rgba(113, 38, 38, 0.5);
}

.yandex_misspelled_double {
	border-color: yellow;
	background-color: rgba(255, 255, 0, 0.5);
}

.yandex_misspelled_cap {
	border-color: #3CA000;
	background-color: rgba(60, 160, 0, 0.5);
}

.yandex_misspelled_many {
	border-color: gray;
	background-color: rgba(128, 128, 128, 0.5);
}

.BUTTON {
	background-color: #50693a;
	border-radius: 3px;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	margin: 5px 0;
	padding: 1px 5px;
}
a.BUTTON {
	text-decoration: none;
}
span.BUTTON:hover {
	background: none repeat scroll 0 0 #599756;
	opacity: 1;
}
span.BUTTON:active {
	background: none repeat scroll 0 0 #52b674;
}
.BUTTON.Selected {
	background: none repeat scroll 0 0 #b35639;
}
.BUTTON.Restore {
	background: none repeat scroll 0 0 #b39128;
}
.Reset {
	background: none repeat scroll 0 0 #b32d00;
	opacity: 0.7;
}
span.BUTTON.Reset:hover {
	background: none repeat scroll 0 0 #e01a00;
	opacity: 1;
}
.BUTTON.AJAX {
	animation: 5s ease 0s alternate-reverse none infinite running shadowFlashing;
	cursor: progress;
	transition: box-shadow 0.3s ease 0s, background-color 0.3s ease 0s;
}
@keyframes shadowFlashing {
	25% {
		background-color: rgba(221, 120, 43, 0.8);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.8);
	}
	50% {
		background-color: rgba(221, 120, 43, 0.4);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.4);
	}
	75% {
		background-color: rgba(221, 120, 43, 0.8);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.8);
	}
	100% {
		background-color: rgba(221, 120, 43, 0.4);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.4);
	}
}
@keyframes shadowFlashing {
	25% {
		background-color: rgba(221, 120, 43, 0.8);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.8);
	}
	50% {
		background-color: rgba(221, 120, 43, 0.4);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.4);
	}
	75% {
		background-color: rgba(221, 120, 43, 0.8);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.8);
	}
	100% {
		background-color: rgba(221, 120, 43, 0.4);
		box-shadow: 0 0 5px 3px rgba(221, 120, 43, 0.4);
	}
}
